.video-contain{
    display: flex;
    justify-content: center;
}

.trailer{
    margin-left: 168px;
    margin-top: 25px;
}

.trailer-hr{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 10vh;
    margin-top: 10vh;
    margin-bottom: 3vh;
}

.trailer-hr h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.trailer-hr hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}